<div class="flex justify-between">
    <div class="links flex flex-col mx-auto px-4">
        <a class="text-lg text-white my-2 hover:border-b hover:border-green-200" href="{{ url_for('course_home') }}"> Home </a>
        <a class="text-lg text-white my-2 hover:border-b hover:border-green-200" href="{{ url_for('community') }}"> Community </a>
        <a class="text-lg text-white my-2 hover:border-b hover:border-green-200" href="{{ url_for('coaching') }}"> Coaching </a>
    </div>
    <div>

    </div>
</div>